<div class="col-md-4 col-md-offset-4">
  <div class="well" ng-show="vm.postes">
    <form role="form" class="settings" ng-submit="vm.update()">

        <div class="form-group">
        <label for="settings__name">Name</label>
        <input type="text" class="form-control" id="settings__name" ng-model="vm.postes.name" placeholder="ex. postname" />
      </div>

        <div class="form-group">
    <label for="post__content">New Post</label>
    <textarea class="form-control"
              id="post__content"
              rows="2"
              placeholder="ex. This is my first time posting on Not Google Plus!"
              ng-model="vm.postes.content">
    </textarea>
  </div>

    <div class="form-group">
        <label for="repeatSelect">Category</label>
      <!--<p>{{ vm.postes.category[0] }}</p>-->
        <select name="repeatSelect" ng-model="vm.postes.category" class='form-control'>
            <option ng-repeat="option in vm.cat" value="{{option.id}}">{{option.name}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="repeatSelect">Label</label>
      <!--<p>{{ vm.cat }}</p>-->
        <select name="repeatSelect" ng-model="vm.postes.labels" class='form-control'>
            <option ng-repeat="option in vm.label" value={{option.id}}>{{option.title}}</option>
        </select>
    </div>

    <div class="form-group">
      <label for="color">Color</label>
      <input type="color"  id="color" ng-model="vm.postes.color">
   </div>


      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-danger pull-right" ng-click="vm.destroy()">Delete Post</button>
      </div>
    </form>
  </div>
</div>

